<!DOCTYPE html>
<html>
<head>
<title>bookmark manager</title>
<meta charset="utf-8" />
<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
<script src="assets/js/library/jquery.min.js"  type="text/javascript"></script>
<script src="assets/js/library/jquery.mousewheel.js"  type="text/javascript"></script>
<script src="assets/js/library/d3.min.js"  type="text/javascript"></script>
<script src="assets/js/bookmarkManager.js"  type="text/javascript"></script>

<!-- template
  	================================================== 
    ================================================== -->
<style id="temp" type="text/html">
<ul>
    <% for (var i in list) { var obj = list[i]; %>
        <li>
			<% if(obj.children) { %>
					<% include('temp1', {"list": obj.children }) %>
			<% }else{ %>
					<p>	<%= obj.title || obj.url %> </p>
			<% } %>
		</li>
    <%}%>
</ul>
</style>

<style id="temp1" type="text/html">
<ul>
    <% for (var i in list) { var obj = list[i]; %>
        <li>
			<% if(obj.children) { %>
					<% include('temp', {"list": obj.children }) %>
			<% }else{ %>
					<p>	<%= obj.title || obj.url %> </p>
			<% } %>
		</li>
    <%}%>
</ul>
</style>

<!-- template
  	================================================== 
    ================================================== -->
</head>

<body>
<div id="btnGroup"><button>recent</button></div>
<div id="path"></div>
<ol id="view"></ol>
</body>
</html>