<!DOCTYPE html>
<html lang="zn" ng-app="bmApp">
<head>
<title>bookmark manager</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="assets/css/bootstrap-theme-superhero.css" />
<link rel="stylesheet" href="assets/css/animations.css" />
<link rel="stylesheet" href="assets/css/style.css" />

<script src="assets/js/libs/jquery-1.10.2.min.js"></script>
<script src="assets/js/libs/d3.min.js"></script>
<script src="assets/js/libs/angular.min.js"></script>
<script src="assets/js/libs/angular-animate.js"></script>
<script src="assets/js/libs/angular-resource.js"></script>
<script src="assets/js/libs/angular-route.js"></script>

<script src="assets/js/app.js"></script>
<script src="assets/js/services.js"></script>
<script src="assets/js/directives.js"></script>
<script src="assets/js/animations.js"></script>
<script src="assets/js/controllers.js"></script>
<script src="assets/js/filters.js"></script>
</head>
<body ng-controller="mainCtrl">

<header>

<nav class="left">
	<a ng-repeat="nav in navs"  ng-href="{{'#/'+nav.href}}" ng-bind="nav.text" class="{{nav.href}}"  ng-class="nav.cla" ng-click="setActive(nav)"></a>
</nav>

<form class="left">
<input type="text" class="input-sm search-query" placeholder="搜索所有书签" bm-enter-press="searchf" ng-model="q" />
<button ng-click="searchf();" class="btn btn-xs btn-text search">search</button>
</form>

</header>

<div id="path">
	<i ng-repeat="node in paths">
	<a href="{{'#/node/'+node.id}}">{{node.title || '~~~~'}}</a>&nbsp;›&nbsp;
	</i>
</div>

<div id="window">

<div id="dirwrapper">
<div class="scroller">
<div ng-controller="tagsCtrl" ng-include="'temp/tags.html'"></div>
<div ng-controller="vdirCtrl" ng-include="'temp/dir.html'"></div>
</div>
</div>

<div id="mainwrapper" bm-resize-able>
<div class="scroller" bm-return-top>
<div id="main" class="view-animate" ng-view></div>
</div>
</div>

</div>
</body>
</html>