<div class="toolbar">

<div class="left">
 Search: <input ng-model="query" class="input-sm" placeholder="搜索当前位置">
 &nbsp;&nbsp;&nbsp; Sort by:
  <select class="select-sm" ng-model="orderProp">
    <option value="title">Alphabetical</option>
    <option value="index">index</option>
    <option value="url">url</option>
    <option value="dateAdded">dateAdded</option>
    <option value="children">children</option>
  </select>
</div>
	
<div class="right">
添加一个书签关联表和管理器。+ 编辑模式
</div>

</div>




<ul class="bm-list">
	<li ng-repeat="bookmark in bookmarks | filter:query | orderBy:orderProp" tabindex="{{$index}}">
	
	<div ng-if="bookmark.url">
		<img ng-src="{{bookmark.url | getIcon}}" class="icon" />
		<span class="text-overflow" qtitle="{{bookmark.url+'   双击打开 '}}" ng-dblclick="open(bookmark);">
		<a href="{{bookmark.url}}" 
		   contenteditable="{{bookmark.Editable?'true':'false'}}"
		   ng-model="bookmark.title"
		   target="_blank" >
		   {{ bookmark.title}}
		</a>
		</span>
		<div class="btn-group">
			<button class="btn btn-xs" ng-click="open(bookmark);">open</button>
			<button class="btn btn-xs" ng-click="bookmark.Editable = !bookmark.Editable">edit</button>
			<button class="btn btn-xs" ng-click="bookmarkManager.remove(bookmark);"> ✘  </button>
			<button class="btn btn-xs" ng-click="bookmarkManager.update(bookmark);">update</button>			
		</div>
	</div>
	
	<div ng-if="!bookmark.url">
		<a class="dir"
		   href="{{'#/node/'+bookmark.id}}"
		   contenteditable="{{bookmark.Editable?'true':'false'}}"
		   ng-model="bookmark.title">
		{{bookmark.title || '~~~~'}}</a>
		<div class="btn-group">
			<button class="btn btn-xs" ng-click="bookmark.Editable = !bookmark.Editable">edit</button>
			<button class="btn btn-xs" ng-click="bookmarkManager.remove(bookmark);"> ✘  </button>
			<button class="btn btn-xs" ng-click="bookmarkManager.update(bookmark);">update</button>			
		</div>
	</div>	
	
	</li>
</ul>

