<div class="content">

<div class="toolbar">

<div class="left">
 Search: <input ng-model="query" class="input-sm" placeholder="搜索当前位置">
 &nbsp;&nbsp;&nbsp; Sort by:
  <select class="select-sm" ng-model="orderProp">
    <option value="title">title</option>
    <option value="url">url</option>
  </select>
</div>
	
<div class="right">
<button type="button" class="btn btn-danger btn-xs" ng-click="clear();" ng-show="bookmarks.length">清空回收站</button>
</div>

</div>

<div ng-show="!bookmarks">loading...
</div>

<div ng-show="bookmarks.length == 0">没有相关记录.</div>

<ul class="bm-list">
	<li ng-repeat="(key, bookmark) in bookmarks | filter:query | orderBy:orderProp" class="animate">
	
	<div ng-if="bookmark.url" class="edit-box">
		<img class="icon" ng-src="{{bookmark.url | getIcon}}" />
		<a href="{{bookmark.url}}" target="_blank" >
		   {{bookmark.title || bookmark.url}}
		</a>
		<div class="btn-group">
			<button class="btn btn-xs btn-text" ng-click="open(bookmark);">打开</button>
			<button class="btn btn-xs btn-text" ng-click="recover(bookmark,bookmarks);">恢复</button>
			<button class="btn btn-xs btn-text" ng-click="remove(bookmark,bookmarks);">删除</button>
		</div>
	</div>
	
	<div ng-if="!bookmark.url" class="edit-box">
		<a class="dir" href="{{'#/node/'+bookmark.id}}">
		{{bookmark.title || '~~~~'}}
		</a>
		<div class="btn-group">
			<button class="btn btn-xs btn-text" ng-click="recover(bookmark,$index);">恢复</button>
			<button class="btn btn-xs btn-text" ng-click="remove(bookmark,$index);">删除</button>
		</div>
	</div>	
	
	</li>
</ul>

</div>