<div class="content">

<div class="toolbar">

<div class="left">
 Search: <input ng-model="query" class="input-sm" placeholder="搜索当前位置">
 &nbsp;&nbsp;&nbsp; Sort by:
  <select class="select-sm" ng-model="orderProp">
    <option value="title">Alphabetical</option>
    <option value="index">index</option>
    <option value="url">url</option>
    <option value="dateAdded">dateAdded</option>
    <option value="children">children</option>
  </select>
</div>
	
<div class="right">
<button type="button" class="btn btn-danger btn-xs" ng-click="clear();" ng-show="bookmarks.length">清空回收站</button>
</div>

</div>

<div ng-show="!bookmarks">
<div style="margin:5px auto;display:inline-block;width:100%;text-align:center;" name="_loading_"><svg width="16" height="16" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#3d7fe6"><animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="1s" fill="freeze" repeatCount="indefinite" /></path></svg></div>
</div>

<div ng-show="bookmarks.length == 0">没有相关记录.</div>

<ul class="bm-list">
	<li ng-repeat="(key, bookmark) in bookmarks | filter:query | orderBy:orderProp" class="animate">
	
	<div ng-if="bookmark.url" class="edit-box">
		<img class="icon" ng-src="{{bookmark.url | getIcon}}" />
		<a href="{{bookmark.url}}" target="_blank" >
		   {{bookmark.title || bookmark.url}}
		</a>
		<div class="btn-group">
			<button class="btn btn-xs btn-text" ng-click="open(bookmark);">打开</button>
			<button class="btn btn-xs btn-text" ng-click="recover(bookmark,$index);">恢复</button>
			<button class="btn btn-xs btn-text" ng-click="remove(bookmark,$index);">删除</button>
		</div>
	</div>
	
	<div ng-if="!bookmark.url" class="edit-box">
		<a class="dir" href="{{'#/node/'+bookmark.id}}">
		{{bookmark.title || '~~~~'}}
		</a>
		<div class="btn-group">
			<button class="btn btn-xs btn-text" ng-click="recover(bookmark,$index);">恢复</button>
			<button class="btn btn-xs btn-text" ng-click="remove(bookmark,$index);">删除</button>
		</div>
	</div>	
	
	</li>
</ul>

</div>