/*
 * animations css stylesheet
 */
 
.view-animate {
  
}
 
.view-animate.ng-enter{
	-webkit-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;	
}
 
.view-animate.ng-enter {
	
}

.view-animate.ng-enter.ng-enter-active {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.view-animate.ng-leave.ng-leave-active {
  
}

/* 定义动画部分
================================================================= */
 
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}