@charset "utf-8";

/* scrollbar style start
=============================================== */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background: #f3f3f3;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(231, 231, 231, 0.4);
}

/* scrollbar style end
================================================ */
/* reset start
================================================ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

fieldset,img {
	border: 0;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: normal;
	font-weight: normal;
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

code,kbd,samp,tt {
	font-size: 100%;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,button,textarea,select {
	*font-size: 100%;
}

body {
	line-height: 1.5;
}

ol,ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th {
	text-align: left;
	white-space: nowrap;
}

sup,sub {
	font-size: 100%;
	vertical-align: baseline;
}

/* remember to highlight anchors and inserts somehow! */
:link,:visited,ins {
	text-decoration: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

button {
	padding: 2px;
	cursor: pointer;
}

b {
	font-weight: normal;
}

[draggable] {
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
/* reset end
================================================ */
/* base start
================================================ */
html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	color: #0070c0;
	color: rgb(28, 37, 46);
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-family: arial, sans-serif;
	font: 13px/1.6 "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei",
		Helvetica, Arial, sans-serif;
	font-family: 'Segoe UI', Arial, 'Microsoft Yahei', Simsun, sans-serif;
	-webkit-user-select: none;
}

p {
	padding: 20px 10px 10px 0;
}

a:link,a:visited {
	color: #333;
	color: #0070c0;
	color: #0E4AB4;
	color: #4072b4;
	color: #2D5B99;
}

a:hover {
	text-decoration: none;
}

nav a:link,nav a:visited {
	color: #333;
	color: #fff;
}

/* base end 	color: #DA0606;
================================================ */
/* common class start 
================================================ */
.text-overflow {
	display: inline-block;
	min-height: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn.btn-text {
	font-size: 12px;
	background: transparent;
	color: #ff6600;
}

.btn.btn-text:hover {
	background: transparent;
	color: #ff6600;
}

.divider-vertical {
	height: 40px;
	margin: 0 3px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
}

.input-sm,.select-sm {
	width: 160px;
	min-width: 80px !important;
	height: 24px;
	padding: 1px 1px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 0;
}
.input-sm{
	height: 18px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.left:after,.right:after {
	content: " ";
	display: table;
	clear: both;
}

.inline-form label{
	margin-left:20px;
}

/* common class end 
================================================ */
/* components start 
================================================ */
.return-top {
	position: fixed;
	right: 15px;
	bottom: 10px;
	z-index: 3000;
	display: none;
	width: 32px;
	padding: 4px 8px;
	color: #fff;
	background: #4383ef;
	text-align: center;
	cursor: pointer;
}

.drag-line {
	display: table;
	background: #lightgrey;
	cursor: col-resize;
}

.drag-line .cell {
	display: table-cell;
	vertical-align: middle;
}

.resize-btn {
	display: inline-block;
	width: 9px;
	height: 38px;
	background: url(../img/resize.png) no-repeat 0 50%;
}


.tags {
	width: 240px;
	padding: 10px 5px 0 10px;
}

.tags h4 {
	font-size: 16px;
}

.tags ul {
	margin: 5px 5px 5px 10px;
}

.tags ul li {
	display: inline-block;
	margin: 0 10px 5px 0;
}

.tags ul li a {
	padding: 0 4px;
}

.tags .selected,.tags li:hover {
	background: #1A5DB6;
	color: #fff;
}

.tags .selected a,.tags li:hover a {
	color: inherit;
}



.dir-tree {
	padding: 10px 10px 25px 20px;
	line-height: 1.8;
}
.dir-tree li{
	position: relative;
}
.dir-tree .dt {
	display: block;
	margin:0 5px;
	border: solid 2px transparent;	
}

.dir-tree .toggle{
	position:absolute;
	top:0;
	margin: 0 0 0 -8px;
	cursor: pointer;
	-webkit-transition: 300ms linear all;
	transition: 300ms linear all;	
}
.dir-tree .toggle.a{
	-webkit-transform:rotate(-90deg);
	transform:rotate(-90deg);
}

.dir-tree .title{
	display: block;
	padding:0 8px 0 28px;
	background: url(../img/folder-1.png) 4px 50% no-repeat;
	background-size: 18px 18px;
}


.dir-tree li ul {
	padding: 0 0 0 1.8em;
}




.bm-list {
	margin: 10px 20px;
}

.bm-list li {
	position: relative;
	height: 30px;
	margin: -6px 0 0 0;
	border: solid 1px transparent;
}

.bm-list li:hover {
}

.bm-list li .icon,.bm-list li .text-overflow,.bm-list li a {
	vertical-align: middle;
}

.bm-list li .text-overflow {
	max-width: 70%;
	position:relative;
}

.bm-list li .icon {
	width: 1.2em;
	background-size:1.2em 1.2em;
}

.bm-list li .btn-group {
	position: absolute;
	margin: 0 0 0 24px;
	display: none;
}

.bm-list li:hover .btn-group {
	display: inline-block;
}




.edit-box {
	padding: 4px 8px 4px 8px;
	border: solid 1px transparent;
	-webkit-transition: all 800ms;
	transition: all 800ms;
}

.edit-box:hover {
}

.editing-,.editing-false {
	
}

.editing-true {
	position: absolute;
	z-index: 10000;
	left: 0;
	right: 0;
	min-height: 96px;
	margin-bottom: 40px;
}

.save,.remove,.cancel,.close {
	display: none;
}

.edit-box .tag {
	margin-top: 8px;
	height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 800ms linear 800ms;
	transition: all 800ms linear 800ms;
}

.editing-true .tag {
	height: auto;
	opacity: 1;
}

.ghost{
	min-width: 4em;
	max-width: 98% !important;
	padding:0 5px;
	border: solid 1px transparent;
	text-overflow: ellipsis;	
}
.edit-text {
	position:absolute;
	left:0;
	right:0;
	width:98%;
	min-width: 4em;
	max-width: 98% !important;
	padding: 0 5px;
	text-overflow: ellipsis;
	border: solid 1px transparent;
	background: transparent;
}

.editing-true .edit-text {
	color: #fff;
	background: blue;
}

.close {
	position: absolute;
	top: 0;
	right: 4px;
	color: #444;
	font-weight: normal;
	font-size: 24px;
}

.editing-true .btn-group {
	display: inline-block !important;
}

.editing-true .edit {
	display: none;
}

.editing-true .save,.editing-true .remove {
	display: inline-block;
}

.editing-true .cancel {
	display: inline-block;
}

.editing-true .close {
	display: block;
}



.btn.search,.btn.search:hover,.btn.search:focus {
	outline: none;
	background: transparent;
}

.dir {
	
}
.node{
	background: url(../img/eye.png) no-repeat 50% 50%;
	background-size: 24px;	
}

.seting{
	background: url(../img/seting.png) no-repeat 50% 50%;
	background-size: 24px;	
}
.help{
	background: url(../img/help.png) no-repeat 50% 50%;
	background-size: 24px;
}
.recent{
	background: url(../img/recent.png) no-repeat 50% 50%;
	background-size: 24px;		
}
.dir{
	background: url(../img/dir-2.png) no-repeat 50% 50%;
	background-size: 24px;	
}
.hot{
	background: url(../img/hot.png) no-repeat 50% 50%;
	background-size: 24px;	
}
.trash{
	background: url(../img/trashcan.png) no-repeat 50% 50%;
	background-size: 24px;	
}
/* components end 
================================================ */
/* modules start 
================================================ */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	background: -webkit-linear-gradient(top, rgba(246, 246, 246, 1) 0%,
		rgba(225, 225, 225, 1) 72%, rgba(225, 225, 225, 1) 75%,
		rgba(225, 225, 225, 1) 100%, rgba(241, 241, 241, 1) 100%,
		rgba(255, 255, 255, 1) 100%, rgba(225, 225, 225, 1) 100% );
	background: -webkit-linear-gradient(top, rgba(153, 181, 209, 1) 0%,
		rgba(183, 207, 232, 1) 100% );
	background: #1A5DB6;
}

nav a:link {
	display: inline-block;
	padding:0 10px;
	min-width:40px;
	height:38px;
}

nav a:hover,nav a.active {
	color: #fff;
	background-color: #1D4D8F;
}

header form {
	margin-left: 40px;
}

.search-query {
	margin-top: -3px;
	vertical-align: middle;
	line-height: 18px;
	color: #B4B4B4;
	height: 24px;
	width: 200px;
	padding: 0 3px;
	border: none;
	border-radius: 1px;
}

.search-query:focus {
	color: #000;
}

#window {
	position: fixed;
	left: 0;
	right: 0;
	top: 38px;
	bottom: 0;
}

#dir-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0px;
	z-index: 1;
}

#main-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 4;
	margin-left: 280px;
}

.scroller {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.toolbar {
	min-height: 28px;
	margin: -5px -10px 18px -10px;
	padding: 10px 5px 5px 50px;
}

.content {
	padding: 5px 10px 30px 10px;
}

#main {
	position: relative;
	min-height: 100%;
}

.path {
	padding: 0 0 0 40px;
	line-height: 28px;
}

#vtree {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/* modules end 
================================================ */
/* theme start 
================================================ */

header{
	background: #81BD02;
}
nav a:hover,nav a.active{
	color: #fff;
	background-color: #6B9909;
}

#dir-wrapper{
	background: #F5F5F5;
	background: #f3f3f3;
}
#main-wrapper{
	background: #fff333;
	background: #eef3fa;
	background: #fff;
	border-left: solid 0px #a0a0a0;
}

.toolbar {
	background-color: #honeydew;
	background: -webkit-linear-gradient(top, rgba(153, 181, 209, 1) 0%,
		rgba(183, 207, 232, 1) 100% );
	background: -webkit-linear-gradient(top, rgba(219, 234, 249, 1) 0%,
		rgba(219, 234, 249, 1) 100% );
	border-bottom: 1px #d5d5d5 solid;
	background: rgba(250, 250, 250, 0.9);
	background: -webkit-linear-gradient(top, rgba(246, 246, 246, 1) 0%,
		rgba(225, 225, 225, 1) 72%, rgba(225, 225, 225, 1) 75%,
		rgba(225, 225, 225, 1) 100%, rgba(241, 241, 241, 1) 100%,
		rgba(255, 255, 255, 1) 100%, rgba(225, 225, 225, 1) 100% );	
	background: #f3f3f3;
	border-bottom: solid 0px #cccccc;
}


.path {
	color: #aaa;
	color: #7A7A7A;
	background: rgba(240, 250, 229, 1);
}

.dir-tree .toggle{
	color:#BDBDBD;
}

.dir-tree .title{
	font-family: arial, sans-serif;
}

.dir-tree .dt{
	color: #2D5B99;
}
.dir-tree .dt:hover{
	color: #fff;
	background-color: #cccccc;
	border-color: #cccccc;
}

.dir-tree .dt.selected{
	color:#fff;
	background-color: #81BD02;
	border-color: #81BD02;
}

.dir-tree .dt a{
	color: inherit;
}

.green {
	background: #81BD02;
}
.blue{
	
}

.bm-list li{
}
.bm-list li:hover {
	 background: #e7e7e7;
}

.editing-true {
	box-shadow: 3px 3px 0px #E9E9E9;
	border: solid 1px #b7b7b7;
	background: #fbfbfb;
}


.on-drag-over-top,
.on-drag-enter-top{
	border-top-color:rgb(192, 5, 5)!important;
}
.on-drag-over-middle,
.on-drag-enter-middle{
	background:rgb(122, 145, 195)!important;
}
.on-drag-over-bottom,
.on-drag-enter-bottom{
	border-bottom-color:rgb(192, 5, 5)!important;
}

/* theme end 
================================================ */
/* animate start 
================================================ */
.view-animate {
	
}

.view-animate.ng-enter {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.view-animate.ng-enter {
	
}

.view-animate.ng-enter.ng-enter-active {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;	
}

.view-animate.ng-leave.ng-leave-active {
	
}

/*
.animate.ng-enter, 
.animate.ng-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate.ng-enter.animate.ng-enter-active, 
.animate.ng-leave {
  opacity: 1;
  top: 0;
}
 
.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
  opacity: 0;
  top: -20px;
}
*/

.animate.ng-enter,.animate.ng-leave {
	-webkit-transition: 400ms linear all;
	transition: 400ms linear all;
}

.animate.ng-enter.animate.ng-enter-active,.animate.ng-leave {
	opacity: 1;
	top: 0;
}

.animate.ng-enter {
	opacity: 0;
}

.animate.ng-leave {
	-webkit-transition: 400ms linear all;
	transition: 400ms linear all;
}

.animate.ng-leave.animate.ng-leave-active {
	opacity: 0;
	top: -20px;
}



/* animate end 
================================================ */
/* xxx start 
================================================ */