@charset "utf-8";

/**
 * 
 * 
 * 
 */

/* scrollbar style start
=============================================== */
 ::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0,0,0,0.4); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(231,231,231,0.4); 
}

/* scrollbar style end
================================================ */
/* reset start
================================================ */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal;
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
code, kbd, samp, tt {
	font-size: 100%;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
 *font-size: 100%;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
	white-space: nowrap;
}
sup, sub {
	font-size: 100%;
	vertical-align: baseline;
}
/* remember to highlight anchors and inserts somehow! */
:link, :visited, ins {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
button{
	padding:2px;
	cursor:pointer;
}
b{
	font-weight:normal;
}

/* reset end
================================================ */
/* base start
================================================ */

html{
	height:100%;
}
body{
	font-size:13px;
	line-height:1.6;
	overflow:hidden;
	height:100%;
	color: #0063dc;
	color:#0070c0;
	/*font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",Helvetica,Arial,sans-serif;
		*/
}
p{
	padding:20px 10px 10px 0;
	font-size:12px;
}
a:link,
a:visited{
	color:#333;
	color:#0070c0;	
}
a:hover{
	text-decoration: none;
}

/* base end 
================================================ */
/* common class start 
================================================ */
.text-overflow{
	display:inline-block;
	min-height:1em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;	
}
.search-query{
	color:#B4B4B4;
}
.search-query:focus{
	color:#000;
}



.btn.btn-text{
	font-size:12px;
	background: transparent;
	color:#ff6600;
	
}
.btn.btn-text:hover{
	background: transparent;
	color:#ff6600;
}




.divider-vertical{
	height: 40px;
	margin: 0 3px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
}


.input-sm,
.select-sm{
	width: 160px;
	height: 24px;
	padding: 1px 1px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 0;
}
.left{
	float:left;
}
.right{
	float:right;	
}
.left:after,
.right:after{
	content: " ";
	display: table;
	clear:both;
}
/* common class end 
================================================ */
/* components start 
================================================ */
.returnTop{
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index:3000;
    display: none;
    width: 32px;
    padding: 8px;
    color: #fff;
    background: #4383ef;
    text-align: center;
    cursor: pointer;
}

.dragLine{
	display:table;
	background: #lightgrey;
	cursor:col-resize;
}
.dragLine .cell{
	display:table-cell;
	vertical-align:middle;
}
.resizeBtn{
	display:inline-block;
	width:9px;
	height:38px;
	background:url(../img/resize.png) no-repeat 0 50%;
}

.editing-,
.editing-false{
	padding:3px 8px 5px 8px;
	-webkit-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;		
}

.editing-true{
	position: absolute;
	z-index: 10000;
	width: 100%;
	min-height: 80px;
	padding:3px 8px 5px 8px;
	background: rgba(254, 254, 254,1);
	background:#F8F8F8;
	box-shadow: 0 0 5px rgb(210,210,210);
	border: solid 1px #d9d9d9;
	border-radius: 5px;
	

	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;		
	-webkit-animation-name: fadeIn;	
	animation-name: fadeIn;
}

.save,
.cancel,
.close,
.tag
{
	display:none;
}
.edit-text{
	min-width: 4em;
	padding:0 5px;
	border: solid 1px transparent;
	background:transparent;
}
.close{
	position:absolute;
	top:0;
	right:0;
	background:#fff;
	color:#444;
}
.editing-true .edit{
	display:none;
}
.editing-true .save{
	display:inline-block;
}
.editing-true .cancel{
	display:inline-block;
}
.editing-true .close{
	display:block;
}
.editing-true .tag{
	display:block;
}
.editing-true .edit-text{
	background:#fff;
	border:solid 1px rgba(82,168,236,0.8);
}

.btn.search,
.btn.search:hover,
.btn.search:focus{
	outline:none;
	background:transparent;
}
.dir{
	padding-left:28px;
	background:url(../img/folder.png) -0px 50% no-repeat;
	background-size:24px 24px;
	font-family: arial, sans-serif;
	cursor:pointer;
}

.dir-tree{
	position:relative;
	top:0px;
}
.dir-tree li li{
	margin:0 0 0 3.2em;
}
.dir-tree li b:hover{
	background:rgba(220,250,160,0.7);
	border-color:rgba(200,220,140,1);
}

.bm-list{
	margin:10px 20px;
}
.bm-list li{
	position:relative;
	height:28px;
}
.bm-list li:hover{
	background:#fff333;
	background:honeydew;
	background:#B2CEEB;
	background:#F5F5F5;
	background:#dddddd;
	background:#eee;
}

.bm-list li .icon,
.bm-list li .text-overflow,	
.bm-list li a{
	vertical-align:middle;
}
.bm-list li .text-overflow{
	max-width:80%;
}
.bm-list li .icon{
	width:1.2em;
	margin:0 4px 0 0;
}

.bm-list li .btn-group{
	position:absolute;
	margin-left:30px;
	display:none;
}

.bm-list li:hover .btn-group{
	display:inline-block;
}

/* components end 
================================================ */
/* modules start 
================================================ */

#dirwrapper{
	position:fixed;
	left:0;
	right:10px;
	top:70px;
	bottom:0px;
	z-index:1;	
	background:#F5F5F5;
}
#mainwrapper{
	position:absolute;
	left:0;
	top:70px;
	bottom:0;
	z-index:4;
	width:100%;
	background:#F5F5F5;
}
#mainwrapper .scroller{
	background:#fff333;
	background:#fff;
}

.scroller{
	position:absolute;
	width:100%;
	height: 100%;
	overflow-y: scroll;
	min-height:100%;
}

.navbar{
	background:url(../img/navbar-bg.png) 0 50%;
}
.toolbar{
	min-height:28px;
	margin:0 0 28px 0;
	padding:4px 20px;
	background-color: #honeydew;
}

.content{
	padding:5px 20px;
}

#main{
	position:relative;
	min-height:100%;
}

#path{
	position:fixed;
	top:40px;
	left:0;
	right:0;
	z-index:10;
	height:2em;
	padding:0 0 0 40px;
	line-height:2em;
	color:#aaa;
	color: #7A7A7A;
	background:rgba(250,250,250,0.9);
}
#path b{
	cursor:pointer;
}
#path b.current{
	cursor:defalut;
}

#vtree{
	position:absolute;
	overflow:hidden;
	width:100%;
	height:100%;

}


/* modules end 
================================================ */
/* animate start 
================================================ */

.view-animate {
  
}
 
.view-animate.ng-enter{
	-webkit-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;	
}
 
.view-animate.ng-enter {
	
}

.view-animate.ng-enter.ng-enter-active {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.view-animate.ng-leave.ng-leave-active {
  
}

/* animate end 
================================================ */
/* xxx start 
================================================ */


