<script type="text/ng-template" id="tree_item_renderer.html">
<div class="dt"
		active-able
		bm-draggable="true"
		bm-drag-channel="dragChannel" 
		bm-drop-channel="dropChannel"	
		bm-drag="node" 
		bm-on-drop="onDrop($event, $position, $data, node, tree)"
		bm-on-drop-success="dropSuccessHandler($event, node, tree)">

	<div class="edit-box editing-{{node.editing}}">
		<span class="text-overflow">
		<b ng-bind="node.title|| '根目录'" class="ghost title"></b>
		<input type="text"
			   class="edit-text"
		       ng-model="node.title"
		       set-focus="node.editing"
		       ng-disabled="!!!node.editing"
		       ng-show="node.editing"
	    />
		</span>

		<div class="btn-group">
			<button class="btn btn-xs btn-text" ng-click="open(node);">打开</button>
			<button class="btn btn-xs btn-text edit" ng-click="edit(node);">修改</button>
			<button class="btn btn-xs btn-text cancel" ng-click="exit(node);">取消</button>
			<button class="btn btn-xs btn-text save" ng-click="update(node);">更新</button>	
			<button class="btn btn-xs btn-text" ng-click="add(node);">新建</button>		
			<button class="btn btn-xs btn-text remove" ng-click="remove(node, tree);">删除</button>
		</div>

	</div>
</div>

<em class="toggle" ng-if="node.children" bm-toggle>▼</em>

<ul ng-if="node.children">
	<li ng-repeat="node in node.children | isTree" ng-include="'tree_item_renderer.html'"></li>
</ul>
</script>

<ul class="dir-tree" ng-show="!node.open">
	<li ng-repeat="node in tree | isTree" ng-include="'tree_item_renderer.html'"></li>
</ul>

