<div class="content">

<div class="toolbar">
<div class="left inline-form">
 Search: <input ng-model="query" class="input-sm" placeholder="搜索当前位置">
 <label>排序方式: </label>
  <select class="select-sm" ng-model="orderProp">
    <option value="">实际顺序，可拖动排序</option>
    <option value="title">title</option>
    <option value="url">url</option>
    <option value="dateAdded">dateAdded</option>
    <option value="children">children</option>
  </select>
  <span ng-show="orderProp">
  <label>反转: </label>
  <input type="checkbox" ng-model="sortReverse">
  </span>
</div>
<div class="right">
<span ng-show="bookmarks.length">共  {{bookmarks.length}} 项  </span>
</div>
</div>

<div ng-show="!bookmarks">loading...
</div>

<div class="path" ng-show="paths">
	<i ng-repeat="node in paths" class="animate">
	<a href="{{'#/node/'+node.id}}">{{node.title || '根目录'}}</a>&nbsp; &nbsp;› &nbsp;
	</i>
</div>

<div ng-include="'tmpl/bm-list.html'"></div>


</div>